<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세검색</title>
</head>
<body>
<h3>상세검색</h3>

<table border="1">
    {% for data in List %}
    <tr><th>과국명</th><td>{{data[0]}}</td></tr>
    <tr><th>과명</th><td>{{data[1]}}</td></tr>
    <tr><th>속국명</th><td>{{data[2]}}</td></tr>
    <tr><th>속명</th><td>{{data[3]}}</td></tr>
    <tr><th>국명</th><td>{{data[4]}}</td></tr>
    <tr><th>전체학명</th><td>{{data[5]}}</td></tr>
    <tr><th>독성여부</th><td>{{data[6]}}</td></tr>
    <tr><th>발생계절</th><td>{{data[7]}}</td></tr>
    <tr><th>발생형태</th><td>{{data[8]}}</td></tr>
    <tr><th>발생장소</th><td>{{data[9]}}</td></tr>
    {% endfor %}
</table>
</body>
</html>