<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>폼 입력 창</h3>
<h3>버섯도감 목록 검색</h3>
<form action="/resource/searchRequest" method="POST">
    <div>
        <input type="hidden" name="st" value="1">
        <input type="hidden" name="numOfRows" value="10">
        <input type="hidden" name="pageNo" value="1">
        <input type="text" name="sw" placeholder="검색어">
        <input type="submit" value="검색">
    </div>
</form>

</form>
</body>
</html>