<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>버섯도감 목록 검색</title>
    <script>
        function detail() {
            var form = dociment.detail;
            form.q1.value = q1;
            form.submit();
        }

    </script>
</head>
<body>

<table border="1">
    <tr>
        <th>이미지</th>
        <th>국명</th>
        <th>학명</th>
        <th>독성</th>

    </tr>

    {% for data in List %}
    <tr>
        <form name="detail" action="/resource/infoRequest" method="POST">
        <td><img src="{{data[0]}}" width="200" height="100"></td>
        <td style="text-align: center;"><input type="submit" value="{{data[1]}}" style="border: 0px;"></td>
        <td>{{data[2]}}</td>
        <td>{{data[4]}}</td>
        <input type="hidden" name="q1" value="{{data[3]}}">
        </form>
    </tr>
    {% endfor %}

</table>

</body>
</html>